<html>
  <head>
    <title>Damp Records The Past</title>
  </head>
  <body>
    <title>Damp Records The Past</title>
    <p><a href="index.html">A Dynamic Fall Discography</a></p>
    <h1>{{.MatchTitle}}</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Percentage</th>
      </tr>{{with .Matches}}{{ range . }}
      <tr>
        <td><a href="{{.Username}}-{{.Shortname}}.html">{{.Username}}</a></td>
        <td>{{.Percentage}}%</td>
      </tr>{{ end }}{{ end }}
    </table>
  </body>
</html>