<html>
  <head>
    <title>Damp Records The Past</title>
  </head>
  <body>
    <title>Damp Records The Past - {{.Username}}</title>
    <p><a href="index.html">A Dynamic Fall Discography</a></p>
    <h1>{{.MatchTitle}} - {{.Percentage}}</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>{{with .Missing}}{{ range . }}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Title}}%</td>
      </tr>{{ end }}{{ end }}
    </table>
  </body>
</html>
